Service References/wsApplicInt/MainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetEncryptedBillingReports">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="from" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="to" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEncryptedBillingReportsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEncryptedBillingReportsResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="SetOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xdOrder">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetOrderResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TrackingID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeExaminerAndTZ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TrackingID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GovtID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TimeZoneOffset" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeExaminerAndTZResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeExaminerAndTZResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeExaminer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TrackingID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GovtID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeExaminerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeExaminerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEncryptedBillingReportsSoapIn">
    <wsdl:part name="parameters" element="tns:GetEncryptedBillingReports" />
  </wsdl:message>
  <wsdl:message name="GetEncryptedBillingReportsSoapOut">
    <wsdl:part name="parameters" element="tns:GetEncryptedBillingReportsResponse" />
  </wsdl:message>
  <wsdl:message name="GetEncryptedBillingReportsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="SetOrderSoapIn">
    <wsdl:part name="parameters" element="tns:SetOrder" />
  </wsdl:message>
  <wsdl:message name="SetOrderSoapOut">
    <wsdl:part name="parameters" element="tns:SetOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetUrl" />
  </wsdl:message>
  <wsdl:message name="GetUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetUrlResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeExaminerAndTZSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeExaminerAndTZ" />
  </wsdl:message>
  <wsdl:message name="ChangeExaminerAndTZSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeExaminerAndTZResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeExaminerSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeExaminer" />
  </wsdl:message>
  <wsdl:message name="ChangeExaminerSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeExaminerResponse" />
  </wsdl:message>
  <wsdl:portType name="MainSoap">
    <wsdl:operation name="GetEncryptedBillingReports">
      <wsdl:input message="tns:GetEncryptedBillingReportsSoapIn" />
      <wsdl:output message="tns:GetEncryptedBillingReportsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetOrder">
      <wsdl:input message="tns:SetOrderSoapIn" />
      <wsdl:output message="tns:SetOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUrl">
      <wsdl:input message="tns:GetUrlSoapIn" />
      <wsdl:output message="tns:GetUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeExaminerAndTZ">
      <wsdl:input message="tns:ChangeExaminerAndTZSoapIn" />
      <wsdl:output message="tns:ChangeExaminerAndTZSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeExaminer">
      <wsdl:input message="tns:ChangeExaminerSoapIn" />
      <wsdl:output message="tns:ChangeExaminerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MainSoap" type="tns:MainSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEncryptedBillingReports">
      <soap:operation soapAction="http://tempuri.org/GetEncryptedBillingReports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetEncryptedBillingReportsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOrder">
      <soap:operation soapAction="http://tempuri.org/SetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUrl">
      <soap:operation soapAction="http://tempuri.org/GetUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeExaminerAndTZ">
      <soap:operation soapAction="http://tempuri.org/ChangeExaminerAndTZ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeExaminer">
      <soap:operation soapAction="http://tempuri.org/ChangeExaminer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MainSoap12" type="tns:MainSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEncryptedBillingReports">
      <soap12:operation soapAction="http://tempuri.org/GetEncryptedBillingReports" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetEncryptedBillingReportsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOrder">
      <soap12:operation soapAction="http://tempuri.org/SetOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUrl">
      <soap12:operation soapAction="http://tempuri.org/GetUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeExaminerAndTZ">
      <soap12:operation soapAction="http://tempuri.org/ChangeExaminerAndTZ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeExaminer">
      <soap12:operation soapAction="http://tempuri.org/ChangeExaminer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Main">
    <wsdl:port name="MainSoap" binding="tns:MainSoap">
      <soap:address location="http://applicintipadtesting.com/medtraxs/web/services/MainService.asmx" />
    </wsdl:port>
    <wsdl:port name="MainSoap12" binding="tns:MainSoap12">
      <soap12:address location="http://applicintipadtesting.com/medtraxs/web/services/MainService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>